
.mt3 {
  margin-top: 3px;

}

.kl.btn {
  background: transparent;
  border: 1px solid white;
  color: white;
  padding: 0 20px;
  line-height: 34px;
  vertical-align: middle;
}

.kl.btn:hover {
  box-shadow: 0 0 10px 5px white, inset 0 0 5px 2px white;
  text-shadow: 0 0 6px white;
}

.kl.btn.min {
  padding: 0 10px;
  line-height: 28px;
}

.kl.btn.big {
  padding: 0 24px;
  line-height: 44px;
}

.kl.btn.error {
  border-color: #ff0000;
  color: #ff0000;

}

.kl.btn.error:hover {
  box-shadow: 0 0 10px 5px #ff0000, inset 0 0 5px 2px #ff0000;
  text-shadow: 0 0 6px #ff0000;
}

.kl.btn.success {
  border-color: #00FF00;
  color: #00FF00;

}

.kl.btn.success:hover {
  box-shadow: 0 0 10px 5px #00FF00, inset 0 0 5px 2px #00FF00;
  text-shadow: 0 0 6px #00FF00;
}

.kl.btn.warn {
  border-color: #FFFF00;
  color: #FFFF00;

}

.kl.btn.warn:hover {
  box-shadow: 0 0 10px 5px #FFFF00, inset 0 0 5px 2px #FFFF00;
  text-shadow: 0 0 6px #FFFF00;
}

.kl.btn.primary {
  border-color: #00FFFF;
  color: #00FFFF;

}

.kl.btn.primary:hover {
  box-shadow: 0 0 10px 5px #00FFFF, inset 0 0 5px 2px #00FFFF;
  text-shadow: 0 0 6px #00FFFF;
}

.kl.input {
  background-color: transparent;
  border: 1px solid white;
  color: white;
  padding: 10px 14px;
  font-size: 16px;
  outline: none;
}

.kl.input:focus {
  box-shadow: 0 0 5px 2px cyan, inset 0 0 5px 2px cyan;
  border-color: cyan;
}


.kl.input[type="number"]::-webkit-inner-spin-button,
.kl.input[type="number"]::-webkit-outer-spin-button {
  height: 40px;
  width: 40px;
  margin: 0;

}


.kl.checkBox > input, .kl.radio > input {
  display: none;
}

.kl.checkBox > input + span, .kl.radio > input + span {
  display: inline-block;
  height: 20px;
  width: 20px;
  border: 1px solid white;
  background-color: transparent;
}

.kl.radio > input + span {
  border-radius: 50%;
}

.kl.checkBox > input + span:hover, .kl.radio > input + span:hover {
  box-shadow: 0 0 5px 2px white, inset 0 0 5px 1px white;

}

.kl.checkBox > input:checked + span, .kl.radio > input:checked + span {
  background-color: cyan;
  border-color: cyan;
  box-shadow: 0 0 10px 5px cyan, inset 0 0 5px 2px cyan;

}


.kl.page {
  border: 1px solid white;
  position: relative;
}

.kl.content {
  padding: 5px;
  display: none;
}

.kl.content.show {
  display: block;
}

.kl.page > .kl.header {
  border-bottom: 1px solid white;
}

.kl.page.flow {
  position: absolute;
  left: 5px;
  right: 5px;
  background-color: rgba(0, 0, 0, 0.75);
}

.kl.flex {
  display: flex;

}

.kl.href:active {
  text-decoration: none;
  color: cyan;
}

.kl.href:visited {
  text-decoration: none;
  color: cyan;
}

.kl.href:link {
  text-decoration: none;
  color: cyan;
}

.kl.href:hover {
  text-shadow: 0 0 6px cyan;

}

.kl.href::after {
  position: absolute;
  bottom: -3px;
  display: block;

  left: 45%;
  right: 45%;
  height: 2px;
  background-color: cyan;
  content: '';
  transition: all .4s ease;
}

.kl.href:hover::after {
  left: 0;
  right: 0;
  transition: all .4s ease;

}

.kl.href {
  text-decoration: none;
  position: relative;
  color: cyan;
}

.kl.f1 {
  flex: 1;
}

.kl.info {
  position: fixed;
  top: 0;
  background-color: black;
  left: 0;
  right: 0;
  padding-inline-start: 10px;
  padding: 10px;
  font-size: 24px;
  box-shadow: inset 0 0 0 1px white;
  z-index: 99;
}

.kl.info > .cancel::after {
  content: "x";
  float: right;
  margin-right: 10px;
  font-size: 20px;
}

.kl.box::after {
  display: block;
  content: '';
  clear: both;

}

.kl.list {
  padding: 3px;
  border: 1px solid white;

}

.kl.list > .item {
  border: 1px solid white;
  margin-top: 3px;
  padding: 5px;
}

.kl.list > .item:first-child {
  margin-top: 0;
}

.kl.list > .item:hover {
  box-shadow: 0 0 10px 5px white, inset 0 0 5px 2px white;
  text-shadow: 0 0 6px white;
}

.kl.list > .item.empty {
  border-color: #bdbdbd;
  color: #bdbdbd;

}

.kl.list > .item.empty:hover {
  box-shadow: 0 0 10px 5px #bdbdbd, inset 0 0 5px 2px #bdbdbd;
  text-shadow: 0 0 6px #bdbdbd;
}

.kl.box.x4 {
  width: 219px;
  height: 219px;
  border: 1px solid white;
}

/*102*1+5*2*/
/*102*2+5*3*/
/*102*4+5*5 408 25*/
.kl.box.x8 {
  width: 219px;
  height: 433px;
  border: 1px solid white;
  color: white;
}

.kl.box > .item:hover {
  box-shadow: 0 0 10px 5px white, inset 0 0 5px 2px white;
  text-shadow: 0 0 6px white;
}

.kl.box > .item::before {

  font-family: 'Noto-Emoji';
  display: block;
  height: 100px;
  width: 100px;
  text-align: center;
  line-height: 100px;
  vertical-align: middle;
  font-size: 45px;
}

.kl.box > .item.weapons::before {
  content: '⚔';
}

.kl.box > .item.shield::before {
  content: '⛨';
}

.kl.box > .item.armor::before {
  content: '👙';
}

.kl.box > .item.ring::before {
  content: '💍';

}

.kl.box > .item.shoes::before {
  content: '👢';

}

.kl.box > .item.goods::before {
  content: '💎';

}

.kl.box > .item.empty {
  opacity: .8;
}

/*.kl.box>.item.empty::after{
  line-height: 100px;
  text-align: center;
  display: block;
  width: 100px;
  vertical-align: middle;
  font-size: 30px;
  content: "空";
}*/
.kl.box > .item {
  height: 100px;
  width: 100px;
  border: 1px solid white;
  float: left;
  margin: 5px 0 0 5px;

}

.kl.water {
  border: 1px solid white;
  background-color: transparent;
  position: relative;
  height: 40px;
  vertical-align: middle;
  line-height: 40px;
  width: 200px;
  margin-top: 10px;
  margin-left: 10px;
  user-select: none;

}

.kl.water > .z1, .kl.water > .z2 {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  padding-inline-start: 20px;

}

.kl.water:hover > .z2 {
  clip: rect(0px, 200px, 50px, 0px);
  transition: 1s ease all;
}

.kl.water > .z1 {
  background-color: transparent;
  color: white;
  z-index: 1;
}

.kl.water > .z2 {
  color: black;
  z-index: 8;
  background-color: white;
  clip: rect(0, 0, 50px, 0);
  transition: 1s ease all;

}

.kl.dialog {
  border: 1px solid white;
  background-color: black;
  color: white;
  position: fixed;
  top: 50vh;
  padding: 0;
  transform: translateY(-50%);
  width: 400px;
  z-index: 99;
}

.kl.dialog > .title {
  border-bottom: 1px solid white;
  padding: 5px;
  background-color: cyan;
  color: black;
}

.kl.dialog > .title > .cancel {
  float: right;
  margin-right: 10px;
  user-select: none;
}

.kl.dialog > .content {
  padding: 10px;

}

.kl.invert {
  background-color: white;
  color: black;
}

.kl.row {
  padding: 5px;
}

.kl.td {
  display: flex;
}

.kl.td > .t {
  flex: 1;
  text-align: right;

}

.kl.td > .d {
  text-align: left;
  flex: 1;
}

.kl.chess-list {
  height: 240px;
  overflow-y: auto;
  user-select: none;
  padding: 5px;
}

.kl.chess-list::after {
  content: '';
  display: block;
  clear: both;

}

.kl.chess-list > .item {
  width: 100px;
  float: left;
  height: 70px;
  padding: 5px;
  border: 1px solid white;
  margin-left: 5px;
  margin-top: 5px;
}

.kl.chess-list > .item.active {
  color: cyan;
  border-color: cyan;
}

.kl.chess-list > .item.active:hover {
  box-shadow: 0 0 10px 5px cyan, inset 0 0 5px 2px cyan;
  text-shadow: 0 0 6px cyan;
}

.kl.chess-list > .item:hover {
  box-shadow: 0 0 10px 5px white, inset 0 0 5px 2px white;
  text-shadow: 0 0 6px white;
}

.kl.item-store {
}

.kl.item-store > .item::before {
  font-family: 'Noto-Emoji';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  text-align: center;
  vertical-align: middle;
  line-height: 60px;
  user-select: none;
  height: 60px;
  width: 60px;
  color: white;
  opacity: .5;
  font-size: 50px;
  content: '✦';
}

.kl.item-store > .item.puzzle::before {
  content: '🧩';
}

.kl.item-store > .item.gem::before {
  content: '💎';
}

.kl.item-store > .item.armor::before {
  content: '👙';
}

.kl.item-store > .item.weapons::before {
  content: '⚔';
}

.kl.item-store > .item.shield::before {
  content: '⛨';
}

.kl.item-store > .item.ring::before {
  content: '💍';
}

.kl.item-store > .item.shoes::before {
  content: '👢';
}

.kl.item-store > .item {
  position: relative;
  float: left;
  text-align: center;
   line-height: 60px;
  user-select: none;
  height: 60px;
  width: 60px;
  display: block;
  border: 1px solid white;
  color: white;
  margin: 2px 2px 0 0;
}

.kl.item-store::after {
  display: block;
  content: "";
  clear: both;
}
